body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 12px;
}

#gmap {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 12px;
}

#panel {
    float: left;
    height: 95%;
    width: 17%;   /* 17%*/
}

#map-container {
    /* margin-left: 300px;*/
    height: 100%;
    background: white; /* needed bec. fullscreen in Firefox makes background color black */
}

#map {
    height: 100%; /* 100% */
}

#markerlist {
    height: 100%;
    margin: 10px 5px 0 10px;
    overflow: auto;
}

/* CSS for the map infowindow(), customized map buttons */
.title {
    border-bottom: 1px solid #e0ecff;
    overflow: hidden;
    width: 256px;
    cursor: pointer;
    padding: 2px 0;
    display: block;
    color: #000;
    text-decoration: none;
}
.title:visited {
    color: #000;
}
.title:hover, #goBackUI:hover, #goNextUI:hover, #goOrigUI:hover, #goRadioUI:hover, #goPanelUI:hover, #goFullUI:hover {
    background: #e0ecff;
}
.info {
    width: 400px;
}
.info img {
    border: 0;
}
.info-body {
    width: 400px;
    height: 200px;
    line-height: 200px;
    margin: 2px 0;
    text-align: center;
    overflow: hidden;
}
.info-img {
    height: auto;
    width: 100%; /* you can use % */
}

#goBackUI, #goNextUI, #goOrigUI, #goRadioUI, #goPanelUI, #goFullUI {
background-color: #fff;
border: 2px solid #fff;
box-shadow: 0 2px 6px rgba(0,0,0,.3);
cursor: pointer;
float: left;
text-align: center;
}

#goBackText, #goNextText, #goOrigText, #goRadioText, #goPanelText, #goFullText {
    color: rgb(25,25,25);
    font-family: Arial,sans-serif;
    font-size: 10px;
    line-height: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

#goNextUI {
/* margin-left: 0px;*/
}
